@model int
@{

    Layout = "~/Views/shared/_Layout.cshtml";
}
<div class="container row">
    <div class=" col-12 text-center">
        <h1 class="text-primary text-center">Order Request Submitted</h1><br />

    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Thank you for submitting a request online!<br />
        We have received your request and out team will be call you shortly!
        <br />
        Your request Numbet is : @Model
    </div>
</div>